body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    box-sizing: border-box;
}
.SocialCard{
    background-color: #FFA003;
    color: #fff;
    width: 500px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.SocialCard h1{
    text-align: center;
    padding: 10px;
}

.logo{
    width: 50px;
    height: 50px;
    background-color: #000;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin: -10px 0 0 6px;
}

.author{
    position: relative;
    background-color: #fff;
    color: #FFA003;
    height: 40px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    line-height: 40px;
    margin: 0 10px 10px 340px;
}

.bottomInfo{
    color: #000;
    background-color: #fff;
    border-top: 1px solid gainsboro;
    font-size: 14px;
    padding: 5px;
}

.bottomInfo a{
    color: #e3e3e3;
    text-decoration: none;
}